= render 'shared/notifications'
%h1= "#{@post.title} Comments"
%table{:border => 1}
  %thead 
    %th Comment
    %th Actions
  %tbody
    - @comments.each do |comment|
      %tr
        %td= comment.body
        %td
          = link_to "Edit", edit_post_comment_path(@post, comment)
          |
          = link_to "Delete", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure you want to delete this?" }


= link_to "New Comment", new_post_comment_path(@post)
= link_to "Back to posts", posts_path