= render 'shared/notifications'
%h1 Posts

= form_tag("/posts", method: "get") do
  = label_tag(:q, "Search for:")
  = text_field_tag(:q)
  = submit_tag("Search") 
%br  
%table{:border => 1}
  %thead
    %th Title
    %th Body
    %th Actions
  %tbody
  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.body
      %td
        = link_to "View Comments", post_comments_path(post)
        |
        = link_to "Edit", edit_post_path(post)
        |
        = link_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete #{post.title}"}
%br        
= link_to "New Post", new_post_path